/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  

.column-std {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row-std:after {
  content: "";
  display: table;
  clear: both;
}


